body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 6%;
}

.c_brands {
  padding-left: 20px;
}

.product {
  padding-left: 40px;
}

div {
  padding-bottom: 10px;
}

.c_name {
  display: inline;
  padding-right: 5px; 
}

.b_name {
  display: inline;
  padding-right: 5px; 
}

.product {
  display: inline;
  padding-right: 5px; 
}

.btn {
  display: inline;
}

.action-container {
  position: absolute;
  padding-bottom: 20px;
  left: 20px;
  top: 20px;
}

.action-container .btn {
  padding-left: 5px;
}

.product-container {
  padding-top: 10px !important;
}

.select-option {
  width: 300px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
